<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爱致爱人</title>
    <meta name="keywords" content="情侣,浪漫表白,js特效,代码,爱致爱人"/>
    <meta name="description" content="爱致爱人"/>
    <link th:href="@{/css/lovetolove.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</head>
<body>
    <div class="header">
        <h1>爱致爱人</h1>
    </div>
    <div class="between">
        <div class="imgg">
            <img class="love" th:src="@{/img/love1.png}">
            <p>模板一</p>
        </div>
    </div>
</body>
</html>